<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>男生频道</title>
</head>
<body>
	<div id="root">
		<% include include/common-header.html %>
		<div class="container-scroll">
			<div id="app" class="new-page channel-page">
				<section class="channel-group main-card" v-for="section in items">
					<div class="channel-group__header">
						<h2 class="channel-group__title" v-cloak>{{ section.ad_name }}</h2>
					</div>
					<ul class="book-list">
						<li v-for="book in section.data.data">
							<div class="u-book">
								<div class="book-cover">
									<img :alt="book.title" :src="book.cover">
									<div class="u-tagRT"></div>
								</div>
								<div class="info">
									<h3 class="title singel-line" v-cloak>{{ book.title }}</h3>
									<p class="summary" v-cloak>{{ book.summary }}</p>
									<div class="wrap">
										<div class="book-tag" v-for="tag in book.tags" v-cloak>{{ tag }}</div>
									</div>
									<p class="author singel-line" v-cloak>{{ book.authors }}</p>
								</div>
							</div>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</body>
</html>