<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/all.css">
	<link rel="stylesheet" type="text/css" href="/static/css/category.css">
	<title>女生频道</title>
</head>
<body>
	<div id="root " style="width: 734px, overflow: hidden">
		<% include include/common-header.html %>
		<div class="container-scroll" style="width: 734px">
			<div id="app" class="new-page cate-page">
				<section class="m-cat-male">
					<div class="u-title">
						<h1>网文男频</h1>
					</div>
					<ul class="u-list-2col">
						<li v-for="item in male">
							<div class="u-cat-item" :style="{backgroundImage: 'url(' + item.new_image + ')'}">
								<h3>{{ item.label }}</h3>
								<p class="num">{{ item.fiction_count }}</p>
							</div>
						</li>
					</ul>
				</section>
				<section class="m-cat-female">
					<div class="u-title">
						<h1>网文女频</h1>
					</div>
					<ul class="u-list-2col">
						<li v-for="item in female">
							<div class="u-cat-item" :style="'backgroundImage: url(' + item.new_image + ')'">
								<h3>{{ item.label }}</h3>
								<p class="num">{{ item.fiction_count }}</p>
							</div>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</body>
<script src="/static/script/vue.js"></script>
<script src="/static/script/zepto.js"></script>
<script src="/static/script/pages/category.js"></script>
</html>